fastapi
uvicorn[standard]
chromadb
ruff==0.4.4
openai
python-dotenv
langchain_chroma
langchain_text_splitters
pypdf
azure-ai-inference
langchain_huggingface
langchain_text_splitters
langchain_community
requests