fastapi
uvicorn[standard]
torch==2.7.1
chromadb
numpy==1.24.4
ruff==0.4.4
openai
python-dotenv
langchain_chroma
langchain_text_splitters
pypdf
azure-ai-inference
langchain_huggingface
langchain_text_splitters
langchain_community